body{ 
    background-image: url(https://cdn.pixabay.com/photo/2023/02/04/13/06/station-7767132_640.jpg);
    background-size: cover;
    text-align: center;
    color: pink;

}

h1{
    
    width: 200px;
    
}

h2{ 
 width: 200px;
 
}
button{
    background-color: aqua;
    align-items: center;
    
}