body{ 
    background-image: url(https://static.dezeen.com/uploads/2017/02/parnu-stadium-kamp-arhitektid-estonia-public-leisure-architecture_dezeen_1704_col_15.jpg);
    background-size: cover;
    text-align: center;
    color: pink;

}

h1{
    
    width: 200px;
    background-color: black;
    
}

h2{ 
 width: 200px;
 background-color: black;
 
}
button{
    background-color: aqua;
    align-items: center;
    width: 200px;
    
}